language: python

os:
  - linux
python:
  - "3.6"

before_script:
  - python generate_requirements.py
  - pip install -r requirements-dev.txt
  - pip install flake8
  # stop the build if there are Python syntax errors or undefined names
  - flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics
  # exit-zero treats all errors as warnings.  The GitHub editor is 127 chars wide
  - flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

script:
  - echo "Running tests..."
  - pytest --cov=stix_shifter --cov-report=xml
