# Include the README
include *.md

# Include the license file
include LICENSE.txt

# Include JSON files
include stix_shifter/stix_translation/src/modules/aws_cloud_watch_logs/json/*.json
include stix_shifter/stix_translation/src/modules/aws_security_hub/json/*.json
include stix_shifter/stix_translation/src/modules/bigfix/json/*.json
include stix_shifter/stix_translation/src/modules/car/json/*.json
include stix_shifter/stix_translation/src/modules/csa/json/*.json
include stix_shifter/stix_translation/src/modules/dummy/json/*.json
include stix_shifter/stix_translation/src/modules/qradar/json/*.json
include stix_shifter/stix_translation/src/modules/splunk/json/*.json
include stix_shifter/stix_translation/src/modules/carbonblack/json/*.json
include stix_shifter/stix_translation/src/modules/elastic_ecs/json/*.json
include stix_shifter/stix_translation/src/modules/cim/json/*.json
include stix_shifter/stix_translation/src/modules/msatp/json/*.json
include stix_shifter/stix_translation/src/modules/security_advisor/json/*.json
include stix_shifter/stix_translation/src/modules/guardium/json/*.json
include stix_shifter/stix_translation/src/modules/azure_sentinel/json/*.json