-r requirements.txt
astroid>=2.15.0,<3.0.0
autopep8>=2.0.4,<3.0.0
coverage>=7.0.0,<8.0.0
debugpy-run
flake8>=7.0.0,<8.0.0
freezegun>=1.2.2,<2.0.0
isort>=5.12.0,<6.0.0
lazy-object-proxy>=1.8.0,<2.0.0
mccabe>=0.6.1,<1.0.0
more-itertools>=10.7.0,<11.0.0
pluggy>=1.0.0,<2.0.0
pylint>=2.15.5,<3.0.0
pytest>=7.2.0,<8.0.0
requests_mock>=1.7.0,<2.0.0
six>=1.16.0,<2.0.0
wrapt>=1.14.1,<2.0.0
# pycodestyle and pyflakes left unpinned so flake8 controls versions
