stix2-patterns>=1.1.0
stix2-validator>=0.5.0
python-dateutil>=2.7.3
antlr4-python3-runtime==4.7
boto3>=1.9.76
xmltodict>=0.11.0
requests_toolbelt==0.9.1
pandas>=0.25.0
ibmcloudsql>=0.3.6
adal>=1.2.2
#git+git://github.com/oasis-open/cti-pattern-matcher.git@v0.1.0#egg=stix2-matcher #uncomment when running locally
